body {

    background-repeat: no-repeat;
    background-size: cover;
    color: ghostwhite;
    background-color: var(--gray-100) ;
    background: var(--gray-100);

}


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-100);
    gap: 10px;
    

}

.titleD {

    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--gray-100) ; 
    padding-top: 20px;
    padding-bottom: 40px;
}

.clr {

    background: var(--green-600);
    border-radius: 50px;
    width: 700px;
    font-family: fantasy, sans-serif;
    font-size: 5rem;
    padding: 10px;
    letter-spacing: 4px;

}

.produtos1{

   background-color: var(--text-color);
   padding: 10px;
   border-radius: 10px;

}

.produtos2{

    background-color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
 
 }
 
 .produtos3{

    background-color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
 
 }

.imgC {

    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 5px;

}

.bt {

    background-color: var(--green-600);
    border-radius: 500px;
    padding: 16px ;
    cursor: pointer;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700px;
    letter-spacing: 4px;
    text-decoration: none;
    border: 10px;
    transition: 0.5s;
    transform: scale(0.9);
    width: 200px;
    height: 50px;
    
    
}

.bt:hover {

    background-color: var(--green-400);
    background-position: 100%;
    outline: 2px solid var(--green-400);
    transform: scale(1.05);
    transition: 0.5s;
 
    
}

.button{

    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: var(--green-600);
    border-radius: 500px;
    padding: 20px 40px;
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
   
}

.button:hover{

    background-color: var(--green-400);
    background-position: 100%;
    outline: 2px solid var(--green-400);
    transform: scale(1.05);
    transition: 0.5s;
   

}
@media only screen and (max-width:450px) {

    
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: var(--green-600);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 200px;
    transition: 0.5s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    width: 200px;
    transition: 0.5s;
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdownContent a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: var(--green-600);
  }
  